<!--<li>
  <a style="outline:none;">
    <span class="hidden-sm hidden-md hidden-lg">{{ i18n "gcseLabelShort" }}</span> <span id="searchGlyph" class="glyphicon glyphicon-search"></span>
  </a>
</li> -->
<li>
     <div class="column">
         <div id="sb-search" class="sb-search">
             <form>
                 <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search" autocomplete="off">
                 <input class="sb-search-submit" type="text" value="" autocomplete="off">
                 <span  class="sb-icon-search "></span>
             </form>
             <ul class="sb-option">
             </ul>
         </div>
     </div>
</li>

<script src="{{ "js/algoliasearch.min.js" | absURL }}"></script>
<!-- 搜索插件 -->
<script src="{{ "js/classie.js" | absURL }}"></script>
<script src="{{ "js/uisearch.js" | absURL }}"></script>


<script>
    var client = algoliasearch("15QMKYAH3C", "{{ .Site.Params.algolia }}");
    var index = client.initIndex('devops-007-blog');

    $(document).ready(function(){
        new UISearch( document.getElementById( 'sb-search' ) );
    })
    .on('input propertychange', '.sb-search-input', function() {
        var search_str = $(this).val()
        if (search_str == "") {
            $(".sb-option").empty()
        } else {
            index.search(search_str, function (err, contacts){
                $(".sb-option").empty()
                for (var i = 0; i < contacts.hits.length; i++) {
                    var _li = '<li>' +
                                  '<a href="/' + contacts.hits[i].uri  + '">'+
                                      '<span>' + contacts.hits[i].title  + '</span>'+
                                  '</a>'+
                              '</li>'
                    $(".sb-option").append(_li)
                }
            });
        }
    })
</script>
