div.instruction {
    background: url('https://res.cloudinary.com/devops007/image/upload/v1527838119/Home-Page/introduction_1085x333.png') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position:center;
    vertical-align: middle;
    border: none;
    padding: none;
    max-width: 1085px;
    min-height: 333px;
    margin:0 auto 0 auto;
}

div.my-well {
    background: transparent;
    margin:0 auto 0 auto;
    overflow: hidden；
}

div.instruction-text {
    max-width: 70%;
    padding-top: 5px;
    margin:0 auto 0 auto;
}

div.instruction-text > p {
    font-style: italic;
    color: #000;
    padding: none;
    border: none;
    text-indent: 2em;
    font-weight: bold;
}
