article.blog-post h1 {
    font-size: 25px;
}

article.blog-post h2 {
    font-size: 22px;
}

article.blog-post h3 {
    font-size: 19px;
}

article.blog-post h4 {
    font-size: 17px;
}

article.blog-post h4 {
    font-size: 15px;
}
