div.instruction {
    background: url('https://res.cloudinary.com/devops007/image/upload/v1527770472/Home-Page/title.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position:center;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    border: none;
    max-width: 1085px;
    max-height: 292px;
    margin-left: auto;
    margin-right: auto;
}

div.well {
    background: transparent;
    border: none;
    padding-bottom:25px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden；
}

div.instruction-text {
    max-width: 80%;
    margin:0 auto 0 auto;
    padding: none;
}

div.instruction-text > p {
    font-style: italic;
    color: #000;
    padding: none;
    border: none;
    text-indent: 2em;
}
